<h1>Create an Appearance</h1>

<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  <h3>Epsiode: </h3>
  <%= f.collection_select :episode_id, Episode.all, :id, :date %><br>
  <h3>Guest: </h3>
  <%= f.collection_select :guest_id, Guest.all, :id, :name %><br>
  <h3>Producer: </h3>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>
  <%= f.submit %>
<% end %>
